@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sometype+Mono&display=swap');
:root {
    --pastelgreen: #d1e5a5;
    --pastelorange: #f7d890;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1900px;
    min-height: 100vh;
    margin: auto;
    font-family: 'Sometype Mono', monospace;
    overflow-x: hidden;
    font-size: 1.1em;
    line-height: 1.9;
    background-color: #333;
}

.wrapper {
    overflow-x: hidden;
    background-color: white;
}

header {
    padding: 0 1em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
}

#logotyp {
    width: 165px;
    margin-top: 0.5em;
}

nav ul li {
    list-style: none;
    margin: 1em;
}
nav ul li a {
    padding: 1em;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.5s ease;
}
nav ul li a:hover {
    color: black;
    border-radius: 15px;
    background-image: linear-gradient(
        to right,
        var(--pastelgreen),
        var(--pastelorange)
    );
    text-decoration: underline;
}

nav ul li a[aria-current='page'] {
    text-decoration: underline;
}

/* Desktop-meny */
header .desktop-nav ul {
    display: flex;
    justify-content: space-evenly;
}

/* Dölj mobilmeny vid desktop-läge */
div.mobile-nav {
    display: none;
}

h1,
h2,
h3 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
/* Textinnehåll startsida */
div.text-content {
    max-width: 35em;
    margin: 1.5em auto;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

main p:not(.no-top-margin) {
    margin-top: 1.5em;
}

main p a {
    color: #333;
}
main p a:hover {
    color: orange;
}
.boldtext {
    font-weight: bold;
}

h2 {
    margin-top: 1em;
}

/* Unordered listor i main */
main ul li {
    list-style-type: '\2606  ';
    margin-left: 1.3em;
    padding: 0.2em;
}

main img {
    width: 100%;
    margin-top: 1em;
}

main code {
    font-size: 1.1em;
    background-color: #eee;
}

footer {
    background-color: #333;
    margin-top: 3em;
    width: 100%;
}

footer img {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1em 0 0 0;
}
footer p {
    color: #ccc;
    max-width: 35em;
    margin: auto;
    font-size: 0.8rem;
    padding-bottom: 0.5em;
}

@media (max-width: 750px) {
    header {
        justify-content: space-between;
    }
    /* Dölj desktopmenyn */
    div.desktop-nav {
        display: none;
    }
    /* Mobilmenu */
    div.mobile-nav {
        display: initial;
    }
    div.mobile-nav button {
        width: fit-content;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        position: relative;
        z-index: 1;
        right: 2em;
    }
    div.mobile-nav button .burger-bar {
        display: block;
        width: 50px;
        height: 4px;
        margin: 10px;
        background-color: white;
        transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }

    div.mobile-nav button:hover .burger-bar {
        background-image: linear-gradient(
            to right,
            var(--pastelgreen),
            var(--pastelorange)
        );
    }

    /* När menyn är aktiv */
    div.mobile-nav button.active .burger-bar {
        background-image: linear-gradient(
            to right,
            var(--pastelgreen),
            var(--pastelorange)
        );
    }
    div.mobile-nav button.active .burger-bar:first-child {
        transform: translateY(14px) rotate(225deg);
    }
    div.mobile-nav button.active .burger-bar:nth-child(2) {
        opacity: 0;
    }
    div.mobile-nav button.active .burger-bar:last-child {
        transform: translateY(-14px) rotate(-225deg);
    }

    /* Mobilmeny innehåll */
    nav.mobile-menu {
        position: fixed;
        top: 0;
        right: -500%;
        background-color: #333;
        width: 50%;
        height: 100%;
        padding: 1em;
        transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }

    nav.mobile-menu.active {
        right: 0;
    }

    nav.mobile-menu ul {
        position: relative;
        top: 3em;
    }
}
